In [2]:
from sklearn.datasets import load_wine
import pandas as pd
import numpy as np
data = load_wine()

In [3]:
df = pd.DataFrame(data['data'], columns=list(data.feature_names))

In [4]:
df.describe()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [9]:
df.shape

(178, 13)

## Preprocessing

Preprocessing the data as necessary to ensure that all values can be processed by a classification model.

- All of the data is numeric, so none needs to be converted from text to numbers
- Scaling IS necessary though! Use StandardScaler instead of MinMaxScaler because is much less affected by outliers
- No features appear to be categorical, so all can be run through the StandardScaler

In [5]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# Create pipeline with standard scaler
num_pipeline = Pipeline([
  ('scaler', StandardScaler()),
])

In [6]:
df_std = num_pipeline.fit_transform(df)

## Correlations

Observing the correlation dataframe and graphs that have somewhat of a linear trend in the correlation matrix, these are the highest correlating features:

- total_phenols and flavanoids
- od280/od315_of_diluted_wines and flavanoids
- od280/od315_of_diluted_wines and total_phenols
- proanthocyanins and flavanoids

In [12]:
# Highest correlating attributes: attr1 and attr2 and the correlation between them, sorted by top correlating
def get_correlations(df):
  corrs = {'attr1': [], 'attr2': [], 'corr': []}

  for attr1 in df.columns:
    for attr2 in df.columns:
      if attr1 != attr2:
        corrs['attr1'].append(attr1)
        corrs['attr2'].append(attr2)
        corrs['corr'].append(df[attr1].corr(df[attr2]))

  return pd.DataFrame(corrs).sort_values('corr', ascending=False).head(7)

In [13]:
get_correlations(df)

                            attr1                         attr2      corr
65                  total_phenols                    flavanoids  0.864564
77                     flavanoids                 total_phenols  0.864564
138  od280/od315_of_diluted_wines                    flavanoids  0.787194
82                     flavanoids  od280/od315_of_diluted_wines  0.787194
137  od280/od315_of_diluted_wines                 total_phenols  0.699949
70                  total_phenols  od280/od315_of_diluted_wines  0.699949
102               proanthocyanins                    flavanoids  0.652692